{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Crafting Terminal/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Crafting Terminal/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Crafting Terminal",
      "subtitle": "Allows Control over a conduit system",
      "position": [ 100, 100 ],
      "zlevel": -10
    },
    "craftableItemsArea": {
      "type": "scrollArea",
      "rect": [ 1, 76, 254, 298 ],
      "visible": true,
      "zlevel": 21,
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
            "unselectedBG": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
            "disabledBG": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
            "spacing": [ 0, 0 ],
            "memberSize": [ 240, 20 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "slot1": {
                "type": "itemslot",
                "position": [ 0, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "1",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot1count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 21, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot2": {
                "type": "itemslot",
                "position": [ 20, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "2",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot2count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 41, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot3": {
                "type": "itemslot",
                "position": [ 40, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "3",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot3count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 61, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot4": {
                "type": "itemslot",
                "position": [ 60, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "4",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot4count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 81, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot5": {
                "type": "itemslot",
                "position": [ 80, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "5",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot5count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 101, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot6": {
                "type": "itemslot",
                "position": [ 100, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "6",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot6count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 121, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot7": {
                "type": "itemslot",
                "position": [ 120, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "7",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot7count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 141, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot8": {
                "type": "itemslot",
                "position": [ 140, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "8",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot8count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 161, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot9": {
                "type": "itemslot",
                "position": [ 160, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "9",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot9count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 181, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot10": {
                "type": "itemslot",
                "position": [ 180, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "10",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot10count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 201, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot11": {
                "type": "itemslot",
                "position": [ 200, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "11",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot11count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 221, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot12": {
                "type": "itemslot",
                "position": [ 220, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "12",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot12count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 241, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              }
            }
          }
        }
      }
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Crafting Terminal/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Crafting Terminal/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Crafting Terminal/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 319, 306 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "scriptWidgetCallbacks": [
    "__SlotClick__",
    "__SlotRightClick__"
  ],
  "scripts": [ "/Blocks/Crafting Terminal/UI/UI Script.lua" ],
  "scriptDelta": 1
}
