{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduits/Fluid Conduit/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Conduits/Fluid Conduit/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Fluid Conduit",
      "subtitle": "Imports and Exports Liquids",
      "position": [ 100, 100 ]
    },
    "liquidItemBox1": {
      "type": "itemslot",
      "position": [ 173, 62 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox2": {
      "type": "itemslot",
      "position": [ 192, 62 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox3": {
      "type": "itemslot",
      "position": [ 211, 62 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox4": {
      "type": "itemslot",
      "position": [ 230, 62 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox5": {
      "type": "itemslot",
      "position": [ 249, 62 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox6": {
      "type": "itemslot",
      "position": [ 268, 62 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox7": {
      "type": "itemslot",
      "position": [ 173, 43 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox8": {
      "type": "itemslot",
      "position": [ 192, 43 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox9": {
      "type": "itemslot",
      "position": [ 211, 43 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox10": {
      "type": "itemslot",
      "position": [ 230, 43 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox11": {
      "type": "itemslot",
      "position": [ 249, 43 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox12": {
      "type": "itemslot",
      "position": [ 268, 43 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox13": {
      "type": "itemslot",
      "position": [ 173, 24 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox14": {
      "type": "itemslot",
      "position": [ 192, 24 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox15": {
      "type": "itemslot",
      "position": [ 211, 24 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox16": {
      "type": "itemslot",
      "position": [ 230, 24 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox17": {
      "type": "itemslot",
      "position": [ 249, 24 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox18": {
      "type": "itemslot",
      "position": [ 268, 24 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox19": {
      "type": "itemslot",
      "position": [ 173, 5 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox20": {
      "type": "itemslot",
      "position": [ 192, 5 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox21": {
      "type": "itemslot",
      "position": [ 211, 5 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox22": {
      "type": "itemslot",
      "position": [ 230, 5 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox23": {
      "type": "itemslot",
      "position": [ 249, 5 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "liquidItemBox24": {
      "type": "itemslot",
      "position": [ 268, 5 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "speedUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 188 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "addSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "SpeedAdd",
      "position": [ 27, 182 ]
    },
    "removeSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "SpeedRemove",
      "position": [ 38, 182 ]
    },
    "LeftImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 197, 148 ],
      "type": "image",
      "zlevel": 2
    },
    "LeftButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 197, 148 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "CenterImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 218, 148 ],
      "type": "image",
      "zlevel": 2
    },
    "CenterButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 218, 148 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "TopImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 218, 169 ],
      "type": "image",
      "zlevel": 2
    },
    "TopButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 218, 169 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "BottomImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 218, 127 ],
      "type": "image",
      "zlevel": 2
    },
    "BottomButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 218, 127 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "RightImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 239, 148 ],
      "type": "image",
      "zlevel": 2
    },
    "RightButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 239, 148 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "helpText": {
      "type": "label",
      "zlevel": 3,
      "position": [ 52, 202 ],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 118,
      "value": "Use the Question Buttons to get help on what something does"
    },
    "modeText": {
      "type": "label",
      "zlevel": 3,
      "position": [ 247, 103 ],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 118,
      "value": "To Level"
    },
    "modeAreaToLevel": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area To Level.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area To Level Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area To Level Highlighted.png",
      "position": [ 172, 83 ],
      "callback": "SetToLevel",
      "visible": false,
      "pressedOffset": [ 0, 0 ]
    },
    "modeAreaFill": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area Fill.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area Fill Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area Fill Highlighted.png",
      "position": [ 172, 72 ],
      "callback": "SetToFill",
      "visible": false,
      "pressedOffset": [ 0, 0 ]
    },
    "modeAreaDropdown": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Dropdown Button.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Dropdown Button Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Dropdown Button Highlighted.png",
      "position": [ 173, 95 ],
      "callback": "Dropdown",
      "pressedOffset": [ 0, 0 ]
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 233, 212 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "scriptWidgetCallbacks": [
    "SpeedAdd",
    "SpeedRemove",
    "ButtonPress",
    "slotTest",
    "slotTestRight",
    "ContainerCore.SlotCallback",
    "ContainerCore.SlotRightClickCallback",
    "Dropdown",
    "SetToFill",
    "SetToLevel"
  ],
  "scripts": [ "/Core/ContainerCoreGUI.lua","/Blocks/Conduits/Fluid Conduit/UI/UI Script.lua" ],
  "scriptDelta": 1,
  "ItemSlots": [
    "liquidItemBox1",
    "liquidItemBox2",
    "liquidItemBox3",
    "liquidItemBox4",
    "liquidItemBox5",
    "liquidItemBox6",
    "liquidItemBox7",
    "liquidItemBox8",
    "liquidItemBox9",
    "liquidItemBox10",
    "liquidItemBox11",
    "liquidItemBox12",
    "liquidItemBox13",
    "liquidItemBox14",
    "liquidItemBox15",
    "liquidItemBox16",
    "liquidItemBox17",
    "liquidItemBox18",
    "liquidItemBox19",
    "liquidItemBox20",
    "liquidItemBox21",
    "liquidItemBox22",
    "liquidItemBox23",
    "liquidItemBox24"
  ]
}
