{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduits/Fluid Conduit/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Conduits/Fluid Conduit/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Fluid Conduit",
      "subtitle": "Imports and Exports Liquids",
      "position": [ 100, 100 ]
    },
    "speedUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 188 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "addSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "SpeedAdd",
      "position": [ 27, 182 ]
    },
    "removeSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "SpeedRemove",
      "position": [ 38, 182 ]
    },
    "LeftImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 197, 148 ],
      "type": "image",
      "zlevel": 2
    },
    "LeftButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 197, 148 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "CenterImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 218, 148 ],
      "type": "image",
      "zlevel": 2
    },
    "CenterButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 218, 148 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "TopImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 218, 169 ],
      "type": "image",
      "zlevel": 2
    },
    "TopButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 218, 169 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "BottomImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 218, 127 ],
      "type": "image",
      "zlevel": 2
    },
    "BottomButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 218, 127 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "RightImage": {
      "file": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Disabled.png",
      "position": [ 239, 148 ],
      "type": "image",
      "zlevel": 2
    },
    "RightButton": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Not Highlighted.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Fluid Buttons/Highlighted.png",
      "position": [ 239, 148 ],
      "callback": "ButtonPress",
      "pressedOffset": [ 0, 0 ]
    },
    "helpText": {
      "type": "label",
      "zlevel": 3,
      "position": [ 52, 202 ],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 118,
      "value": "Use the Question Buttons to get help on what something does"
    },
    "modeText": {
      "type": "label",
      "zlevel": 3,
      "position": [ 247, 103 ],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 118,
      "value": "To Level"
    },
    "modeAreaToLevel": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area To Level.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area To Level Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area To Level Highlighted.png",
      "position": [ 172, 83 ],
      "callback": "SetToLevel",
      "visible": false,
      "pressedOffset": [ 0, 0 ]
    },
    "modeAreaFill": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area Fill.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area Fill Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Mode Selection Area Fill Highlighted.png",
      "position": [ 172, 72 ],
      "callback": "SetToFill",
      "visible": false,
      "pressedOffset": [ 0, 0 ]
    },
    "modeAreaDropdown": {
      "zlevel": 3,
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Dropdown Button.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Dropdown Button Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Dropdown Button Highlighted.png",
      "position": [ 173, 95 ],
      "callback": "Dropdown",
      "pressedOffset": [ 0, 0 ]
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduits/Fluid Conduit/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduits/Fluid Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Conduits/Fluid Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 233, 212 ],
      "pressedOffset": [ 0, 0 ]
    },
    "inventoryCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [ 170, 1, 290, 89 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    }
  },
  "canvasClickCallbacks": {
    "inventoryCanvas": "inventoryCanvasC"
  },
  "canvasKeyCallbacks": {
    "inventoryCanvas": "inventoryCanvasK"
  },
  "scriptWidgetCallbacks": [
    "SpeedAdd",
    "SpeedRemove",
    "ButtonPress",
    "slotTest",
    "slotTestRight",
    "Dropdown",
    "SetToFill",
    "SetToLevel"
  ],
  "scripts": [ "/Core/ContainerCoreGUICanvas.lua", "/Blocks/Conduits/Fluid Conduit/UI/UI Script.lua" ],
  "scriptDelta": 1
}
