{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Crafting Controller/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Crafting Controller/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Crafting Controller",
      "subtitle": "Allows for autocrafting",
      "position": [ 100, 100 ],
      "zlevel": -10
    },
    "slot1": {
      "type": "itemslot",
      "position": [ 196, 29 ],
      "backingImage": "/Blocks/Crafting Controller/UI/Window/Addition Slot.png",
      "zlevel": 1,
      "callback": "AddSlotClick",
      "rightClickCallback": "AddSlotRClick"
    },
    "blueprintSlotsArea": {
      "type": "scrollArea",
      "rect": [ 79, 50, 331, 212 ],
      "visible": true,
      "zlevel": 1,
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/Blocks/Crafting Controller/UI/Window/Blueprint Row.png",
            "unselectedBG": "/Blocks/Crafting Controller/UI/Window/Blueprint Row.png",
            "disabledBG": "/Blocks/Crafting Controller/UI/Window/Blueprint Row.png",
            "spacing": [ 0, 0 ],
            "memberSize": [ 242, 20 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Crafting Controller/UI/Window/Blueprint Row.png",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "slot1": {
                "type": "itemslot",
                "position": [ 0, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "1",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot2": {
                "type": "itemslot",
                "position": [ 20, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "2",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot3": {
                "type": "itemslot",
                "position": [ 40, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "3",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot4": {
                "type": "itemslot",
                "position": [ 60, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "4",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot5": {
                "type": "itemslot",
                "position": [ 80, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "5",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot6": {
                "type": "itemslot",
                "position": [ 100, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "6",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot7": {
                "type": "itemslot",
                "position": [ 120, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "7",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot8": {
                "type": "itemslot",
                "position": [ 140, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "8",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot9": {
                "type": "itemslot",
                "position": [ 160, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "9",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot10": {
                "type": "itemslot",
                "position": [ 180, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "10",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot11": {
                "type": "itemslot",
                "position": [ 200, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "11",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot12": {
                "type": "itemslot",
                "position": [ 220, 1 ],
                "backingImage": "/Blocks/Crafting Controller/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "12",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              }
            }
          }
        }
      }
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Crafting Controller/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Crafting Controller/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Crafting Controller/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 400, 240 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "scriptWidgetCallbacks": [
    "AddSlotClick",
    "AddSlotRClick"
  ],
  "scripts": [ "/Blocks/Crafting Controller/UI/UI Script.lua" ],
  "scriptDelta": 1
}
