{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Items/Advanced Item Analyzer/UI/Graphics/Header.png",
      "fileBody": "/Items/Advanced Item Analyzer/UI/Graphics/Body.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "",
      "subtitle": "",
      "icon": {
        "type": "image",
        "file": "",
        "zlevel": -1
      }
    },
    "itemBox": {
      "type": "itemslot",
      "position": [ 1, 1 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "itemBox",
      "rightClickCallback": "itemBoxRight"
    },
    "textArea": {
      "type" : "scrollArea",
      "rect": [21,21,299,237],
      "children": {
        "dataArea": {
          "type": "label",
          "zlevel": 3,
          "position": [ 200, 132 ],
          "wrapWidth": 270,
          "vAnchor": "top",
          "color": [ 255, 165, 0 ],
          "value": ""
        }
      }
    },
    "dataArea": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 132 ],
      "wrapWidth": 160,
      "vAnchor": "top",
      "color": [ 255, 165, 0 ],
      "value": "",
      "visible": false
    },
    "copybox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ -100, -100 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "__copybox__",
      "visible": true,
      "wrapWidth": 9999999999999
    },
    "copyButton": {
      "zlevel": 5,
      "type": "button",
      "base": "/Items/Advanced Item Analyzer/UI/Graphics/Copy Button.png",
      "hover": "/Items/Advanced Item Analyzer/UI/Graphics/Copy Button Highlighted.png",
      "press": "/Items/Advanced Item Analyzer/UI/Graphics/Copy Button Highlighted.png",
      "position": [ 20, 20 ],
      "pressedOffset": [ 0, 0 ],
      "callback": "copyButton"
    },
    "copyDisplayText": {
      "type": "label",
      "zlevel": 8,
      "position": [ 27, 13 ],
      "wrapWidth": 160,
      "vAnchor": "top",
      "color": [ 255, 255, 255 ],
      "value": "Press CTRL + C to copy the text",
      "visible": false
    },
    "close": {
      "type": "button",
      "base": "/Items/Advanced Item Analyzer/UI/Graphics/Close Button.png",
      "hover": "/Items/Advanced Item Analyzer/UI/Graphics/Close Button Highlighted.png",
      "press": "/Items/Advanced Item Analyzer/UI/Graphics/Close Button Highlighted.png",
      "position": [ 270, 249 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "scriptWidgetCallbacks": [
    "itemBox",
    "itemBoxRight",
    "__copybox__",
    "copyButton"
  ],
  "scripts": [ "/Items/Advanced Item Analyzer/UI/Script.lua" ],
  "scriptDelta": 1
}
