{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Items/Inventory Item Analyzer/UI/Graphics/Header.png",
      "fileBody": "/Items/Inventory Item Analyzer/UI/Graphics/Body.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "",
      "subtitle": "",
      "icon": {
        "type": "image",
        "file": "",
        "zlevel": -1
      }
    },
    "textArea": {
      "type" : "scrollArea",
      "rect": [2,2,280,218],
      "children": {
        "dataArea": {
          "type": "label",
          "zlevel": 3,
          "position": [ 200, 132 ],
          "wrapWidth": 270,
          "vAnchor": "top",
          "color": [ 255, 165, 0 ],
          "value": ""
        }
      }
    },
    "dataArea": {
      "type": "label",
      "zlevel": 3,
      "position": [ 3, 113 ],
      "wrapWidth": 160,
      "vAnchor": "top",
      "color": [ 255, 165, 0 ],
      "value": "",
      "visible": false
    },
    "copybox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ -100, -100 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "__copybox__",
      "visible": true,
      "wrapWidth": 9999999999999
    },
    "copyButton": {
      "zlevel": 5,
      "type": "button",
      "base": "/Items/Inventory Item Analyzer/UI/Graphics/Copy Button.png",
      "hover": "/Items/Inventory Item Analyzer/UI/Graphics/Copy Button Highlighted.png",
      "press": "/Items/Inventory Item Analyzer/UI/Graphics/Copy Button Highlighted.png",
      "position": [ 1, 1 ],
      "pressedOffset": [ 0, 0 ],
      "callback": "copyButton"
    },
    "copyDisplayText": {
      "type": "label",
      "zlevel": 8,
      "position": [ 8, 13 ],
      "wrapWidth": 160,
      "vAnchor": "top",
      "color": [ 255, 255, 255 ],
      "value": "Press CTRL + C to copy the text",
      "visible": false
    },
    "inventoryItemsArea": {
      "type": "scrollArea",
      "rect": [ 281, 2, 333, 218 ],
      "visible": true,
      "zlevel": 100,
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
            "unselectedBG": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
            "disabledBG": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
            "spacing": [ 0, 0 ],
            "memberSize": [ 52, 20 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "slot1": {
                "type": "itemslot",
                "position": [ 1, 1 ],
                "backingImage": "/interface/actionbar/actionbarcover.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 120,
                "visible": false,
                "data": "1",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot2": {
                "type": "itemslot",
                "position": [ 21, 1 ],
                "backingImage": "/interface/actionbar/actionbarcover.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 120,
                "visible": false,
                "data": "2",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              }
            }
          }
        }
      }
    },
    "close": {
      "type": "button",
      "base": "/Items/Inventory Item Analyzer/UI/Graphics/Close Button.png",
      "hover": "/Items/Inventory Item Analyzer/UI/Graphics/Close Button Highlighted.png",
      "press": "/Items/Inventory Item Analyzer/UI/Graphics/Close Button Highlighted.png",
      "position": [ 304, 230 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "scriptWidgetCallbacks": [
    "itemBox",
    "itemBoxRight",
    "__copybox__",
    "copyButton"
  ],
  "scripts": [ "/Items/Inventory Item Analyzer/UI/Script.lua" ],
  "scriptDelta": 1
}
