{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Items/Item Analyzer/UI/Graphics/Header.png",
      "fileBody": "/Items/Item Analyzer/UI/Graphics/Body.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "",
      "subtitle": "",
      "icon": {
        "type": "image",
        "file": "",
        "zlevel": -1
      }
    },
    "itemBox": {
      "type": "itemslot",
      "position": [ 1, 1 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "itemBox",
      "rightClickCallback": "itemBoxRight"
    },
    "itemName": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 132 ],
      "wrapWidth": 160,
      "color": [ 255, 165, 0 ],
      "value": ""
    },
    "category": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 113 ],
      "wrapWidth": 160,
      "color": [ 255, 165, 0 ],
      "value": ""
    },
    "type": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 94 ],
      "wrapWidth": 160,
      "color": [ 255, 165, 0 ],
      "value": ""
    },
    "maxStack": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 75 ],
      "wrapWidth": 160,
      "color": [ 255, 165, 0 ],
      "value": ""
    },
    "tags": {
      "type": "label",
      "zlevel": 3,
      "hAnchor": "left",
      "vAnchor": "top",
      "position": [ 22, 62 ],
      "wrapWidth": 160,
      "color": [ 255, 165, 0 ],
      "value": ""
    },
    "close": {
      "type": "button",
      "base": "/Items/Item Analyzer/UI/Graphics/Close Button.png",
      "hover": "/Items/Item Analyzer/UI/Graphics/Close Button Highlighted.png",
      "press": "/Items/Item Analyzer/UI/Graphics/Close Button Highlighted.png",
      "position": [ 154, 150 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "scriptWidgetCallbacks": [
    "itemBox",
    "itemBoxRight"
  ],
  "scripts": [ "/Items/Item Analyzer/UI/Script.lua" ],
  "scriptDelta": 1
}
