{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduits/Extraction Conduit/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Conduits/Extraction Conduit/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Extraction Conduit",
      "subtitle": "Extracts Items from an inventory",
      "position": [ 100, 100 ]
    },
    "helpText": {
      "type": "label",
      "zlevel": 3,
      "position": [ 52, 202 ],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 118,
      "value": "Use the Question Buttons to get help on what something does"
    },
    "itemNameBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 190, 184 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "null",
      "color": [ 255, 165, 0 ],
      "maxWidth": 105
    },
    "itemNameHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "itemNameHelp",
      "position": [ 170, 184 ],
      "pressedOffset": [ 0, 0 ]
    },
    "insertIDBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 190, 165 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "null",
      "color": [ 255, 165, 0 ],
      "maxWidth": 105
    },
    "insertIDHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "insertIDHelp",
      "position": [ 170, 165 ],
      "pressedOffset": [ 0, 0 ]
    },
    "takeFromSideBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 190, 146 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "null",
      "color": [ 255, 165, 0 ],
      "maxWidth": 105
    },
    "takeFromSideHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "takeFromSideHelp",
      "position": [ 170, 146 ],
      "pressedOffset": [ 0, 0 ]
    },
    "insertIntoSideBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 190, 127 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "null",
      "color": [ 255, 165, 0 ],
      "maxWidth": 105
    },
    "insertIntoSideHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "insertIntoSideHelp",
      "position": [ 170, 127 ],
      "pressedOffset": [ 0, 0 ]
    },
    "takeFromSlotBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 190, 108 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "null",
      "color": [ 255, 165, 0 ],
      "maxWidth": 105
    },
    "takeFromSlotHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "takeFromSlotHelp",
      "position": [ 170, 108 ],
      "pressedOffset": [ 0, 0 ]
    },
    "insertIntoSlotBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 190, 89 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "null",
      "color": [ 255, 165, 0 ],
      "maxWidth": 105
    },
    "insertIntoSlotHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "insertIntoSlotHelp",
      "position": [ 170, 89 ],
      "pressedOffset": [ 0, 0 ]
    },
    "amountToLeaveBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 190, 70 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "null",
      "color": [ 255, 165, 0 ],
      "maxWidth": 105
    },
    "amountToLeaveHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "amountToLeaveHelp",
      "position": [ 170, 70 ],
      "pressedOffset": [ 0, 0 ]
    },
    "itemBox": {
      "type": "itemslot",
      "position": [ 190, 51 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "itemBox",
      "rightClickCallback": "itemBoxRight"
    },
    "itemBoxHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "itemBoxHelp",
      "position": [ 170, 51 ],
      "pressedOffset": [ 0, 0 ]
    },
    "autoCheckBox": {
      "type": "button",
      "pressedOffset": [ 1, -1 ],
      "position": [ 210, 59 ],
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Check Box.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Check Box Hover.png",
      "baseImageChecked": "/Blocks/Conduits/Extraction Conduit/UI/Window/Check Box Checked.png",
      "hoverImageChecked": "/Blocks/Conduits/Extraction Conduit/UI/Window/Check Box Checked Hover.png",
      "checkable": true,
      "callback": "AutoBoxUpdate",
      "checked": false
    },
    "autoText": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Extraction Conduit/UI/Window/Auto Text.png",
      "position": [ 220, 61 ],
      "scale": 1
    },
    "specificCheckBox": {
      "type": "button",
      "pressedOffset": [ 1, -1 ],
      "position": [ 210, 51 ],
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Check Box.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Check Box Hover.png",
      "baseImageChecked": "/Blocks/Conduits/Extraction Conduit/UI/Window/Check Box Checked.png",
      "hoverImageChecked": "/Blocks/Conduits/Extraction Conduit/UI/Window/Check Box Checked Hover.png",
      "checkable": true,
      "callback": "SpecificBoxUpdate",
      "checked": false
    },
    "specificText": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Extraction Conduit/UI/Window/Specific Text.png",
      "position": [ 220, 53 ],
      "scale": 1
    },
    "addButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Add Button.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Add Button Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Add Button Highlighted.png",
      "caption": "",
      "callback": "Add",
      "position": [ 274, 53 ]
    },
    "removeButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Remove Button.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Remove Button Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Remove Button Highlighted.png",
      "position": [ 344, 3 ],
      "callback": "Remove"
    },
    "orderUp": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Order Up.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Order Up Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Order Up Highlighted.png",
      "callback": "orderUp",
      "position": [ 324, 3 ]
    },
    "orderDown": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Order Down.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Order Down Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Order Down Highlighted.png",
      "callback": "orderDown",
      "position": [ 304, 3 ]
    },
    "searchIcon": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Extraction Conduit/UI/Window/Search.png",
      "position": [ 302, 194 ],
      "scale": 0.5
    },
    "searchBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 312, 194 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "SearchChange",
      "maxWidth": 113
    },
    "speedUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 188 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "stackUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 165 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "addSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "SpeedAdd",
      "position": [ 27, 182 ]
    },
    "removeSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "SpeedRemove",
      "position": [ 38, 182 ]
    },
    "addStackUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "StackAdd",
      "position": [ 27, 159 ]
    },
    "removeStackUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "StackRemove",
      "position": [ 38, 159 ]
    },
    "incrementColor": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Color Right.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Color Right.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Color Right.png",
      "callback": "ColorIncrement",
      "position": [ 33, 131 ]
    },
    "decrementColor": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Color Left.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Color Left.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Color Left.png",
      "callback": "ColorDecrement",
      "position": [ 3, 131 ]
    },
    "colorDisplay": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Extraction Conduit/UI/Window/White Color.png",
      "position": [ 18, 131 ],
      "scale": 3
    },
    "configArea": {
      "type": "scrollArea",
      "rect": [ 302, 22, 430, 192 ],
      "children": {
        "itemList": {
          "type": "list",
          "callback": "SelectedItemChange",
          "schema": {
            "selectedBG": "/Blocks/Conduits/Extraction Conduit/UI/Window/List Item.png:active",
            "unselectedBG": "/Blocks/Conduits/Extraction Conduit/UI/Window/List Item.png:inactive",
            "disabledBG": "/Blocks/Conduits/Extraction Conduit/UI/Window/List Item.png:disabled",
            "spacing": [ 0, 0 ],
            "memberSize": [ 119, 59 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Conduits/Extraction Conduit/UI/Window/List Item.png:inactive",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "itemName": {
                "type": "label",
                "position": [ 2, 51 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 6,
                "value": "Name : ",
                "color": "orange"
              },
              "insertID": {
                "type": "label",
                "position": [ 2, 45 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 6,
                "value": "Insert Conduit ID : ",
                "color": "blue"
              },
              "takeFromSide": {
                "type": "label",
                "position": [ 2, 39 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 6,
                "value": "Take From Side : "
              },
              "insertIntoSide": {
                "type": "label",
                "position": [ 2, 33 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 6,
                "value": "Insert Into Side : "
              },
              "insertIntoSlot": {
                "type": "label",
                "position": [ 2, 27 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 6,
                "value": "Insert Into Slot : "
              },
              "takeFromSlot": {
                "type": "label",
                "position": [ 2, 21 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 6,
                "value": "Take From Slot : "
              },
              "amountToLeave": {
                "type": "label",
                "position": [ 2, 15 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 6,
                "value": "Amount To Leave : "
              },
              "order": {
                "type": "label",
                "position": [ 4, 1 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 12,
                "value": "1"
              },
              "itemImage": {
                "type": "itemslot",
                "position": [ 98, 8 ],
                "backingImage": "/Blocks/Conduits/Extraction Conduit/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "callback": "null",
                "rightClickCallback": "null"
              },
              "specific": {
                "type": "label",
                "position": [ 90, 2 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 6,
                "value": "",
                "color": "#9000ff"
              }
            }
          }
        }
      }
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduits/Extraction Conduit/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduits/Extraction Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Conduits/Extraction Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 375, 212 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "scriptWidgetCallbacks": [
    "itemNameHelp",
    "insertIDHelp",
    "takeFromSideHelp",
    "insertIntoSideHelp",
    "takeFromSlotHelp",
    "insertIntoSlotHelp",
    "amountToLeaveHelp",
    "itemBox",
    "itemBoxRight",
    "itemBoxHelp",
    "Add",
    "Remove",
    "orderUp",
    "orderDown",
    "AutoBoxUpdate",
    "SpecificBoxUpdate",
    "SelectedItemChange",
    "SearchChange",
    "SpeedAdd",
    "SpeedRemove",
    "StackAdd",
    "StackRemove",
    "ColorIncrement",
    "ColorDecrement"
  ],
  "scripts": [ "/Blocks/Conduits/Extraction Conduit/UI/UI Script.lua" ],
  "scriptDelta" : 3
}
