{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Items/Facade Wrench/UI/Graphics/Header.png",
      "fileBody": "/Items/Facade Wrench/UI/Graphics/Body.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "",
      "subtitle": "",
      "icon": {
        "type": "image",
        "file": "",
        "zlevel": -1
      }
    },
    "close": {
      "type": "button",
      "base": "/Items/Facade Wrench/UI/Graphics/Close Button.png",
      "hover": "/Items/Facade Wrench/UI/Graphics/Close Button Highlighted.png",
      "press": "/Items/Facade Wrench/UI/Graphics/Close Button Highlighted.png",
      "position": [ 77, 40 ],
      "pressedOffset": [ 0, 0 ]
    },
    "RightArrow": {
      "type": "button",
      "base": "/Items/Facade Wrench/UI/Graphics/Arrow Right.png",
      "hover": "/Items/Facade Wrench/UI/Graphics/Arrow Right.png",
      "press": "/Items/Facade Wrench/UI/Graphics/Arrow Right.png",
      "callback": "IncrementConduit",
      "position": [ 34, 17 ]
    },
    "LeftArrow": {
      "type": "button",
      "base": "/Items/Facade Wrench/UI/Graphics/Arrow Left.png",
      "hover": "/Items/Facade Wrench/UI/Graphics/Arrow Left.png",
      "press": "/Items/Facade Wrench/UI/Graphics/Arrow Left.png",
      "callback": "DecrementConduit",
      "position": [ 4, 17 ]
    },
    "conduitDisplay": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Item Conduit/Cable/Cable.png:default.none",
      "position": [ 15, 12 ],
      "scale": 1
    },
    "conduitText": {
      "type": "label",
      "position": [ 27, 4 ],
      "hAnchor": "mid",
      "wrapWidth": 240,
      "value": "Item",
      "fontSize": 5
    },
    "amountText": {
      "type": "label",
      "position": [ 27, 10 ],
      "hAnchor": "mid",
      "wrapWidth": 240,
      "value": "x0"
    },
    "removeMode": {
      "type": "button",
      "base": "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked": "/interface/crafting/checkboxcheck.png",
      "checkable": true,
      "checked": false,
      "position": [ 53, 25 ]
    }
  },
  "scriptWidgetCallbacks": [
    "setConfigButton",
    "DecrementConduit",
    "IncrementConduit",
    "removeMode"
  ],
  "scripts": [ "/Items/Facade Wrench/UI/UI Script.lua" ],
  "scriptDelta": 1
}
