{
  "filter" : [ ],
  "titleFromEntity" : true,
  "requiresBlueprint" : false,
  "craftingSound" : "/sfx/interface/crafting_tech2.ogg",
  "paneLayout": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduit Station/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Conduit Station/UI/Window/Main Window.png",
      "fileFooter": "/Blocks/Conduit Station/UI/Window/Footer.png"
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduit Station/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduit Station/UI/Window/Close Button/Close Button Highlighted.png",
      "pressed": "/Blocks/Conduit Station/UI/Window/Close Button/Close Button Highlighted.png",
      "pressedOffset": [ 0, 0 ],
      "position": [ 279, 251 ]
    },
    "windowtitle": {
      "type": "title",
      "title": " Conduit Station",
      "subtitle": " Used for crafting Conduits",
      "position": [ 0, 252 ],
      "icon": {
        "type": "image",
        "file": "/Blocks/Conduit Station/UI/Window/Icon.png",
        "position": [ 0, -20 ],
        "scale": 0.5,
        "zlevel": -1
      }
    },
    "btnUpgrade": {
      "type": "button",
      "disabledImage": "/interface/crafting/upgradeUnready.png",
      "base": "/interface/crafting/upgradeReady.png",
      "position": [ 139, 258 ],
      "zlevel": 5
    },
    "lblSchematics": {
      "type": "label",
      "position": [ 88, 238 ],
      "hAnchor": "mid",
      "value": "^#b9b5b2;BLUEPRINTS"
    },
    "lblProducttitle": {
      "type": "label",
      "position": [ 265, 233 ],
      "hAnchor": "mid",
      "value": "^#b9b5b2;PRODUCT"
    },
    "spinCount": {
      "type": "spinner",
      "position": [ 220, 35 ],
      "upOffset": 36
    },
    "tbSpinCount": {
      "type": "textbox",
      "position": [ 232, 35 ],
      "textAlign": "center",
      "maxWidth": 16,
      "regex": "x?\\d{0,4}",
      "hint": ""
    },
    "imgAmountInput": {
      "type": "image",
      "file": "/interface/crafting/amount.png",
      "position": [ 226, 34 ],
      "zlevel": -3
    },
    "btnCraft": {
      "type": "button",
      "base": "/interface/button.png",
      "hover": "/interface/buttonhover.png",
      "position": [ 271, 32 ],
      "caption": "Craft"
    },
    "btnStopCraft": {
      "type": "button",
      "base": "/interface/buttonactive.png",
      "hover": "/interface/buttonactivehover.png",
      "position": [ 271, 32 ],
      "caption": "Stop"
    },
    "imgCraftBg": {
      "type": "image",
      "file": "/interface/crafting/craftbg.png",
      "position": [ 196, 29 ],
      "zlevel": -5
    },
    "currentRecipeIcon": {
      "type": "itemslot",
      "callback": "null",
      "position": [ 197, 30 ]
    },
    "btnFilterHaveMaterials": {
      "type": "button",
      "base": "/interface/crafting/checkboxnocheck.png",
      "baseImageChecked": "/interface/crafting/checkboxcheck.png",
      "checkable": true,
      "checked": false,
      "position": [ 40, 53 ]
    },
    "lblProduct": {
      "type": "label",
      "position": [ 51, 52 ],
      "hAnchor": "left",
      "value": "MATERIALS AVAILABLE"
    },

    "description": {
      "type": "widget",
      "position": [ 190, 31 ],
      "size": [ 140, 220 ]
    },
    "filter": {
      "type": "textbox",
      "position": [ 56, 37 ],
      "hint": "Search",
      "maxWidth": 70,
      "escapeKey": "close",
      "enterKey": "filter",
      "focus": false
    },

    "scrollArea": {
      "type": "scrollArea",
      "rect": [ 5, 64, 183, 215 ],
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/interface/crafting/craftableselected2.png",
            "unselectedBG": "/interface/crafting/craftablebackground.png",
            "spacing": [ 0, 1 ],
            "memberSize": [ 159, 20 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/interface/crafting/craftablebackground.png",
                "position": [ 2, 0 ],
                "zlevel": -1
              },
              "itemName": {
                "type": "label",
                "position": [ 25, 5 ],
                "hAnchor": "left",
                "wrapWidth": 116,
                "value": "Replace Me"
              },
              "itemIcon": {
                "type": "itemslot",
                "position": [ 3, 1 ],
                "callback": "null"
              },
              "moneyIcon": {
                "type": "image",
                "position": [ 122, 1 ],
                "file": "/interface/money.png"
              },
              "priceLabel": {
                "type": "label",
                "position": [ 134, 1 ],
                "hAnchor": "left",
                "value": "0"
              },
              "notcraftableoverlay": {
                "type": "image",
                "file": "/interface/crafting/notcraftableoverlay.png",
                "position": [ 2, 0 ],
                "zlevel": 1
              }
            }
          }
        }
      }
    },
    "lblConduitUtilityTab": {
      "type": "image",
      "file": "/Items/Facade Wrench/Icon.png",
      "position": [ 6, 217 ],
      "zlevel": 3
    },
    "lblConduitNormalTab": {
      "type": "image",
      "file": "/Blocks/Conduits/Extraction Conduit/Icon/Icon.png",
      "position": [ 34, 218 ],
      "zlevel": 3
    },
    "lblConduitPlatformTab": {
      "type": "image",
      "file": "/Blocks/Conduits/Item Conduit/Platform Version/Icon/Icon.png",
      "position": [ 61, 218 ],
      "zlevel": 3
    },
    "lblConduitFacadeTab": {
      "type": "image",
      "file": "/Blocks/Conduits/Insertion Conduit/Facade Version/Item/Icon.png",
      "position": [ 88, 218 ],
      "zlevel": 3
    },
    "categories": {
      "type": "radioGroup",
      "toggleMode": false,
      "buttons": [
        {
          "selected": true,
          "position": [ 1, 216 ],
          "baseImage": "/Blocks/Conduit Station/UI/Window/Unselected Tab.png",
          "baseImageChecked": "/Blocks/Conduit Station/UI/Window/Selected Tab.png",
          "pressedOffset": [0,0],
          "data": {
            "filter": [ "conduitutility" ]
          }
        },
        {
          "position": [ 28, 216 ],
          "baseImage": "/Blocks/Conduit Station/UI/Window/Unselected Tab.png",
          "baseImageChecked": "/Blocks/Conduit Station/UI/Window/Selected Tab.png",
          "pressedOffset": [ 0, 0 ],
          "data": {
            "filter": [ "conduitnormal" ]
          }
        },
        {
          "position": [ 55, 216 ],
          "baseImage": "/Blocks/Conduit Station/UI/Window/Unselected Tab.png",
          "baseImageChecked": "/Blocks/Conduit Station/UI/Window/Selected Tab.png",
          "pressedOffset": [ 0, 0 ],
          "data": {
            "filter": [ "conduitplatform" ]
          }
        },
        {
          "position": [ 82, 216 ],
          "baseImage": "/Blocks/Conduit Station/UI/Window/Unselected Tab.png",
          "baseImageChecked": "/Blocks/Conduit Station/UI/Window/Selected Tab.png",
          "pressedOffset": [ 0, 0 ],
          "data": {
            "filter": [ "conduitfacade" ]
          }
        }
      ]
    },
    "rarities": {
      "type": "radioGroup",
      "toggleMode": true,
      "buttons": [
      ]
    }
  }
}
