{
  "gui": {
    "insertionIDBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 176, 27 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "UpdateInsertID",
      "color": [ 255, 165, 0 ],
      "maxWidth": 113
    },
    "insertIDImage": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/IO Conduit/UI/Insert ID Box.png",
      "position": [ 171, 3 ],
      "scale": 1
    }
  },
  "scriptWidgetCallbacks": [
    "UpdateInsertID"
  ],
  "scripts": [ "/Blocks/Conduits/Insertion Conduit/UI/UI Script.lua" ]
}