{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduit Bender/UI/Heading.png",
      "fileBody": "/Blocks/Conduit Bender/UI/Backdrop.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Conduit Bender",
      "subtitle": "Used to Create Curved Conduits",
      "position": [ 100, 100 ]
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduit Bender/UI/Close Button.png",
      "hover": "/Blocks/Conduit Bender/UI/Close Button Highlighted.png",
      "press": "/Blocks/Conduit Bender/UI/Close Button Highlighted.png",
      "position": [ 95, 70 ],
      "pressedOffset": [ 0, 0 ]
    },
    "itemGrid": {
      "type": "itemgrid",
      "position": [ 97, 27 ],
      "slotOffset": 0,
      "dimensions": [ 2, 1 ],
      "spacing": [ 30, 19 ],
      "backingImage": "/Blocks/Conduit Bender/UI/slot.png"
    },
    "conduitToCraft": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Curved/5x/BR/Curve.png:default.0",
      "position": [ 53, 28 ]
    },
    "rotateLeft": {
      "type": "button",
      "base": "/Blocks/Conduit Bender/UI/Rotate Left Button.png",
      "hover": "/Blocks/Conduit Bender/UI/Rotate Left Button Highlighted.png",
      "press": "/Blocks/Conduit Bender/UI//Rotate Left Button Highlighted.png",
      "callback": "RotateLeft",
      "position": [ 48, 2 ]
    },
    "rotateRight": {
      "type": "button",
      "base": "/Blocks/Conduit Bender/UI/Rotate Right Button.png",
      "hover": "/Blocks/Conduit Bender/UI/Rotate Right Button Highlighted.png",
      "press": "/Blocks/Conduit Bender/UI/Rotate Right Button Highlighted.png",
      "callback": "RotateRight",
      "position": [ 76, 2 ]
    },
    "sizeDown": {
      "type": "button",
      "base": "/Blocks/Conduit Bender/UI/arrow_Left.png",
      "hover": "/Blocks/Conduit Bender/UI/arrow_Left.png",
      "press": "/Blocks/Conduit Bender/UI/arrow_Left.png",
      "callback": "DecreaseSize",
      "position": [ 100, 2 ]
    },
    "sizeUp": {
      "type": "button",
      "base": "/Blocks/Conduit Bender/UI/arrow_Right.png",
      "hover": "/Blocks/Conduit Bender/UI/arrow_Right.png",
      "press": "/Blocks/Conduit Bender/UI/arrow_Right.png",
      "callback": "IncreaseSize",
      "position": [ 130, 2 ]
    },
    "size": {
      "type": "label",
      "zlevel": 3,
      "position": [ 123, 9 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "2"
    },
    "requiredConduits": {
      "type": "label",
      "zlevel": 3,
      "position": [ 130, 51 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "2"
    },
    "progress": {
      "zlevel": 2,
      "type": "progress",
      "position": [ 114, 28 ],
      "background": "/Blocks/Conduit Bender/UI/arrow_Right - Black.png",
      "size": [ 15, 15 ],
      "progressSet": {
        "inner": "/Blocks/Conduit Bender/UI/arrow_Right.png",
        "type": "repeat"
      },
      "direction": "horizontal"
    },
    "speedUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 33, 47 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "addSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduit Bender/UI/button.png",
      "hover": "/Blocks/Conduit Bender/UI/buttonhover.png",
      "press": "/Blocks/Conduit Bender/UI/buttonhover.png",
      "caption": "+",
      "callback": "IncreaseSpeed",
      "position": [ 22, 30 ]
    },
    "removeSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduit Bender/UI/button.png",
      "hover": "/Blocks/Conduit Bender/UI/buttonhover.png",
      "press": "/Blocks/Conduit Bender/UI/buttonhover.png",
      "caption": "-",
      "callback": "DecreaseSpeed",
      "position": [ 33, 30 ]
    }
  },
  "scriptWidgetCallbacks": [
    "RotateLeft",
    "RotateRight",
    "DecreaseSize",
    "IncreaseSize",
    "IncreaseSpeed",
    "DecreaseSpeed"
  ],
  "scripts" : ["/Blocks/Conduit Bender/UI Script.lua"],
  "scriptDelta" : 3
}
