{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduit Terminal/UI/Window/Title Bar Main.png",
      "fileBody": "/Blocks/Conduit Terminal/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Conduit Terminal",
      "subtitle": "Allows Control over a conduit system",
      "position": [ 100, 100 ],
      "zlevel": -10
    },
    "Title": {
      "type": "label",
      "zlevel": 3,
      "position": [ 29, 353 ],
      "wrapWidth": 100,
      "value": "Conduit Terminal"
    },
    "SubTitle": {
      "type": "label",
      "zlevel": 3,
      "position": [ 29, 343 ],
      "wrapWidth": 200,
      "value": "Allows Control over a conduit system"
    },
    "MainTitle": {
      "type": "image",
      "file": "/Blocks/Conduit Terminal/UI/Window/Title Bar.png",
      "position": [ 0, 340 ],
      "zlevel": -20
    },
    "mainCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [ 120, 32, 437, 201 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    },
    "itemTrayCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [ 120, 1, 437, 31 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    },
    "allItemsCanvas": {
      "zlevel": 20,
      "type": "canvas",
      "rect": [ 120, 2, 437, 201 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    },
    "allItemsLoadingCircle": {
      "type": "image",
      "file": "/Blocks/Conduit Terminal/UI/Window/Loading Circle.png",
      "position": [ 163, 101 ],
      "centered":true,
      "zlevel": 100
    },
    "allItemsSearchBox": {
      "zlevel": 26,
      "type": "textbox",
      "position": [ 11, 170 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "allItemsSearchBoxUpdated",
      "visible": true,
      "maxWidth": 120
    },
    "allItemsSettingsArea": {
      "type": "image",
      "file": "/Blocks/Conduit Terminal/UI/Window/SettingsArea.png",
      "position": [ 0, 170 ],
      "zlevel": 25
    },
    "allItemsOpenerArrow": {
      "type": "button",
      "base": "/Blocks/Conduit Terminal/UI/Window/Arrow.png",
      "hover": "/Blocks/Conduit Terminal/UI/Window/Arrow.png",
      "press": "/Blocks/Conduit Terminal/UI/Window/Arrow.png",
      "caption": "",
      "callback": "allItemsArrowClicked",
      "position": [ 120, 170 ],
      "pressedOffset": [ 0, 0 ],
      "zlevel": 100
    },
    "allItemsSearchIcon": {
      "type": "image",
      "file": "/Blocks/Conduit Terminal/UI/Window/Search.png",
      "position": [ 1, 170 ],
      "pressedOffset":[0,0],
      "scale": 0.5,
      "zlevel": 27
    },
    "allItemsInventoryArea": {
      "type": "scrollArea",
      "rect": [ 0, 30, 250, 168 ],
      "visible": true,
      "zlevel": 21,
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
            "unselectedBG": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
            "disabledBG": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
            "spacing": [ 0, 0 ],
            "memberSize": [ 240, 20 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "slot1": {
                "type": "itemslot",
                "position": [ 1, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "1",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot1count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 21, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot1background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 0, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot2": {
                "type": "itemslot",
                "position": [ 21, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "2",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot2count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 41, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot2background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 20, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot3": {
                "type": "itemslot",
                "position": [ 41, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "3",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot3count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 61, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot3background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 40, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot4": {
                "type": "itemslot",
                "position": [ 61, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "4",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot4count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 81, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot4background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 60, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot5": {
                "type": "itemslot",
                "position": [ 81, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "5",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot5count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 101, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot5background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 80, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot6": {
                "type": "itemslot",
                "position": [ 101, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "6",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot6count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 121, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot6background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 100, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot7": {
                "type": "itemslot",
                "position": [ 121, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "7",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot7count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 141, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot7background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 120, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot8": {
                "type": "itemslot",
                "position": [ 141, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "8",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot8count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 161, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot8background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 140, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot9": {
                "type": "itemslot",
                "position": [ 161, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "9",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot9count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 181, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot9background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 160, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot10": {
                "type": "itemslot",
                "position": [ 181, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "10",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot10count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 201, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot10background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 180, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot11": {
                "type": "itemslot",
                "position": [ 201, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "11",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot11count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 221, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot11background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 200, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot12": {
                "type": "itemslot",
                "position": [ 221, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "12",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot12count": {
                "type": "label",
                "zlevel": 3,
                "position": [ 241, -2 ],
                "hAnchor" : "right",
                "wrapWidth": 100,
                "value": ""
              },
              "slot12background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 220, 0 ],
                "zlevel": 0,
                "visible": false
              }
            }
          }
        }
      }
    },
    "hueSlider": {
      "type": "slider",
      "position": [ 122, 310 ],
      "gridImage": "/interface/optionsmenu/smallselection.png",
      "callback": "HueSlider",
      "range": [ 0, 360, 1 ]
    },
    "satSlider": {
      "type": "slider",
      "position": [ 122, 290 ],
      "gridImage": "/interface/optionsmenu/smallselection.png",
      "callback": "SatSlider",
      "range": [ 0, 100, 1 ]
    },
    "containerBeingViewed": {
      "type": "itemslot",
      "position": [ 187, 309 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "IconMode": true,
      "visible": false,
      "zlevel": 1,
      "callback": "ContainerArea.__ContainerBoxClicked__",
      "rightClickCallback": "null"

    },
    "containerName": {
      "type": "label",
      "zlevel": 3,
      "position": [ 207, 321 ],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 225,
      "value": "",
      "visible": false
    },
    "extractButton": {
      "type": "button",
      "base": "/Blocks/Conduit Terminal/UI/Window/Extract Button.png",
      "hover": "/Blocks/Conduit Terminal/UI/Window/Extract Button Highlighted.png",
      "press": "/Blocks/Conduit Terminal/UI/Window/Extract Button Highlighted.png",
      "disabledImage": "/Blocks/Conduit Terminal/UI/Window/Extract Button Disabled.png",
      "caption": "",
      "callback": "Extract",
      "position": [ 285, 203 ],
      "visible": false,
      "pressedOffset": [ 0, 0 ]
    },
    "amountArea": {
      "type": "image",
      "file": "/Blocks/Conduit Terminal/UI/Window/Amount To Pull.png",
      "position": [ 331, 202 ],
      "zlevel": -20,
      "visible": false
    },
    "amountBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 372, 203 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "null",
      "color": [ 255, 165, 0 ],
      "visible": false,
      "regex": "\\d{0,4}",
      "maxWidth": 32
    },
    "containerViewArea": {
      "type": "scrollArea",
      "rect": [ 186, 214, 437, 306 ],
      "visible": false,
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
            "unselectedBG": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
            "disabledBG": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
            "spacing": [ 0, 0 ],
            "memberSize": [ 240, 20 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/TestArea.png",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "slot1": {
                "type": "itemslot",
                "position": [ 1, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "1",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot1background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 0, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot2": {
                "type": "itemslot",
                "position": [ 21, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "2",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot2background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 20, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot3": {
                "type": "itemslot",
                "position": [ 41, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "3",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot3background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 40, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot4": {
                "type": "itemslot",
                "position": [ 61, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "4",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot4background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 60, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot5": {
                "type": "itemslot",
                "position": [ 81, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "5",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot5background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 80, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot6": {
                "type": "itemslot",
                "position": [ 101, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "6",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot6background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 100, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot7": {
                "type": "itemslot",
                "position": [ 121, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "7",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot7background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 120, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot8": {
                "type": "itemslot",
                "position": [ 141, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "8",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot8background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 140, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot9": {
                "type": "itemslot",
                "position": [ 161, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "9",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot9background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 160, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot10": {
                "type": "itemslot",
                "position": [ 181, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "10",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot10background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 180, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot11": {
                "type": "itemslot",
                "position": [ 201, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "11",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"

              },
              "slot11background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 200, 0 ],
                "zlevel": 0,
                "visible": false
              },
              "slot12": {
                "type": "itemslot",
                "position": [ 221, 1 ],
                "backingImage": "/Blocks/Conduit Terminal/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "12",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"


              },
              "slot12background": {
                "type": "image",
                "file": "/Blocks/Conduit Terminal/UI/Window/Slot.png",
                "position": [ 220, 0 ],
                "zlevel": 0,
                "visible": false
              }
            }
          }
        }
      }
    },
    "speedUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 139, 272 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "addSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduit Terminal/UI/Window/Button.png",
      "hover": "/Blocks/Conduit Terminal/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduit Terminal/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "SpeedAdd",
      "position": [ 143, 267 ]
    },
    "removeSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduit Terminal/UI/Window/Button.png",
      "hover": "/Blocks/Conduit Terminal/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduit Terminal/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "SpeedRemove",
      "position": [ 154, 267 ]
    },
    "incrementColor": {
      "type": "button",
      "base": "/Blocks/Conduit Terminal/UI/Window/Color Right.png",
      "hover": "/Blocks/Conduit Terminal/UI/Window/Color Right.png",
      "press": "/Blocks/Conduit Terminal/UI/Window/Color Right.png",
      "callback": "ColorIncrement",
      "position": [ 160, 239 ]
    },
    "decrementColor": {
      "type": "button",
      "base": "/Blocks/Conduit Terminal/UI/Window/Color Left.png",
      "hover": "/Blocks/Conduit Terminal/UI/Window/Color Left.png",
      "press": "/Blocks/Conduit Terminal/UI/Window/Color Left.png",
      "callback": "ColorDecrement",
      "position": [ 130, 239 ]
    },
    "colorDisplay": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduit Terminal/UI/Window/White Color.png",
      "position": [ 145, 239 ],
      "scale": 3
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduit Terminal/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduit Terminal/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Conduit Terminal/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 380, 339 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "canvasClickCallbacks": {
    "mainCanvas": "__ViewWindow__.OnMouseClick",
    "itemTrayCanvas": "__ClickItemTray__",
    "allItemsCanvas": "__AllItemsAreaClick__"
  },
  "scriptWidgetCallbacks": [
    "HueSlider",
    "SatSlider",
    "SendHere",
    "ContainerArea.__ContainerBoxClicked__",
    "__SlotClick__",
    "__SlotRightClick__",
    "Extract",
    "Insert",
    "SpeedAdd",
    "SpeedRemove",
    "ColorIncrement",
    "ColorDecrement",
    "allItemsSearchBoxUpdated",
    "allItemsArrowClicked"
  ],
  "scripts": [ "/Blocks/Conduit Terminal/UI/UI Script.lua" ],
  "scriptDelta": 1
}
