{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduit Terminal/UI/Window/Title Bar Main.png",
      "fileBody": "/Blocks/Conduit Terminal/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Conduit Terminal",
      "subtitle": "Allows Control over a conduit system",
      "position": [ 100, 100 ],
      "zlevel": -10
    },
    "Title": {
      "type": "label",
      "zlevel": 3,
      "position": [ 29, 322 ],
      "wrapWidth": 100,
      "value": "Conduit Terminal"
    },
    "SubTitle": {
      "type": "label",
      "zlevel": 3,
      "position": [ 29, 312 ],
      "wrapWidth": 200,
      "value": "Allows Control over a conduit system"
    },
    "MainTitle": {
      "type": "image",
      "file": "/Blocks/Conduit Terminal/UI/Window/Title Bar.png",
      "position": [ 0, 309 ],
      "zlevel": -20
    },
    "MainWindowColor": {
      "type": "image",
      "file": "/Blocks/Conduit Terminal/UI/Window/Main Window Coloring.png",
      "position": [ 0, 0 ],
      "zlevel": -20
    },
    "mainCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [ 120, 1, 432, 170 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    },
    "hueSlider": {
      "type": "slider",
      "position": [ 122, 279 ],
      "gridImage": "/interface/optionsmenu/smallselection.png",
      "callback": "HueSlider",
      "range": [ 0, 360, 1 ]
    },
    "satSlider": {
      "type": "slider",
      "position": [ 122, 259 ],
      "gridImage": "/interface/optionsmenu/smallselection.png",
      "callback": "SatSlider",
      "range": [ 0, 100, 1 ]
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduit Terminal/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduit Terminal/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Conduit Terminal/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 375, 308 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "canvasClickCallbacks": {
    "mainCanvas": "CanvasClick"
  },
  "scriptWidgetCallbacks": [
    "HueSlider",
    "SatSlider"
  ],
  "scripts": [ "/Blocks/Conduit Terminal/UI/UI Script.lua" ],
  "scriptDelta": 1
}
