{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduits/Crafting Conduit/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Conduits/Crafting Conduit/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Crafting Conduit",
      "subtitle": "Allows Auto-Crafting of Items",
      "position": [ 100, 100 ]
    },
    "helpText": {
      "type": "label",
      "zlevel": 3,
      "position": [ 52, 298 ],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 118,
      "value": "Use the Question Buttons to get help on what something does",
      "fontSize": 6
    },
    "recipeItemBox": {
      "type": "itemslot",
      "position": [ 190, 98 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "RecipeItemBox",
      "rightClickCallback": "RecipeItemBoxRight"
    },
    "recipeItemBoxHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "RecipeItemBoxHelp",
      "position": [ 170, 98 ],
      "pressedOffset": [ 0, 0 ]
    },
    "addRecipeButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Button Highlighted.png",
      "caption": "",
      "callback": "AddRecipe",
      "position": [ 274, 101 ]
    },
    "removeRecipeButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Button Highlighted.png",
      "position": [ 344, 99 ],
      "callback": "RemoveRecipe"
    },
    "orderUp": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Up.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Up Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Up Highlighted.png",
      "callback": "orderUp",
      "position": [ 324, 99 ]
    },
    "orderDown": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Down.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Down Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Down Highlighted.png",
      "callback": "orderDown",
      "position": [ 304, 99 ]
    },
    "speedUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 284 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "addSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "SpeedAdd",
      "position": [ 27, 278 ]
    },
    "removeSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "SpeedRemove",
      "position": [ 38, 278 ]
    },
    "currencySpinner": {
      "type": "spinner",
      "position": [ 370, 16 ],
      "upOffset": 36
    },
    "currencyNumberBox": {
      "type": "textbox",
      "position": [ 382, 16 ],
      "textAlign": "center",
      "maxWidth": 16,
      "regex": "x?\\d{0,4}",
      "callback": "currencyNumberBox",
      "value": "0",
      "hint": ""
    },
    "currencyAmountArea": {
      "type": "image",
      "file": "/interface/crafting/amount.png",
      "position": [ 376, 15 ],
      "zlevel": -3
    },
    "currencyToAddSlot": {
      "type": "itemslot",
      "position": [ 383, 25 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "null",
      "rightClickCallback": "null"
    },
    "currencyToAddLeft": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Left.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Left Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Left Highlighted.png",
      "callback": "CurrencyAddLeft",
      "position": [ 372, 27 ]
    },
    "currencyToAddRight": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Right.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Right Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Right Highlighted.png",
      "callback": "CurrencyAddRight",
      "position": [ 402, 27 ]
    },
    "currencyLeft": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Left.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Left Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Left Highlighted.png",
      "callback": "CurrencyLeft",
      "position": [ 362, 70 ]
    },
    "currencyRight": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Right.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Right Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Currency Right Highlighted.png",
      "callback": "CurrencyRight",
      "position": [ 392, 70 ]
    },
    "addCurrencyButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Currency Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Currency Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Currency Button Highlighted.png",
      "callback": "AddCurrency",
      "position": [ 360, 2 ]
    },
    "removeCurrencyButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Currency Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Currency Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Currency Button Highlighted.png",
      "callback": "RemoveCurrency",
      "position": [ 384, 2 ]
    },
    "craftCurrencyButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Craft Currency Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Craft Currency Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Craft Currency Button Highlighted.png",
      "callback": "CraftCurrency",
      "position": [ 365, 46 ]
    },
    "currencyAddedSlot": {
      "type": "itemslot",
      "position": [ 373, 68 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "null",
      "rightClickCallback": "null"
    },
    "currencyAddedAmount": {
      "type": "label",
      "zlevel": 3,
      "position": [ 383, 58 ],
      "hAnchor": "mid",
      "wrapWidth": 10000,
      "value": "9999999999999999999"
    },
    "currencyAreaHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "CurrencyAreaHelp",
      "position": [ 333, 1 ],
      "pressedOffset": [ 0, 0 ]
    },
    "recipeCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [ 170, 117, 301, 298 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    },
    "addedRecipeCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [ 302, 118, 433, 298 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 375, 308 ],
      "pressedOffset": [ 0, 0 ]
    },
    "itemBox1": {
      "type": "itemslot",
      "position": [ 2, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox2": {
      "type": "itemslot",
      "position": [ 21, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox3": {
      "type": "itemslot",
      "position": [ 40, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox4": {
      "type": "itemslot",
      "position": [ 59, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox5": {
      "type": "itemslot",
      "position": [ 78, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox6": {
      "type": "itemslot",
      "position": [ 97, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox7": {
      "type": "itemslot",
      "position": [ 116, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox8": {
      "type": "itemslot",
      "position": [ 135, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox9": {
      "type": "itemslot",
      "position": [ 154, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox10": {
      "type": "itemslot",
      "position": [ 173, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox11": {
      "type": "itemslot",
      "position": [ 192, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox12": {
      "type": "itemslot",
      "position": [ 211, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox13": {
      "type": "itemslot",
      "position": [ 230, 78 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox14": {
      "type": "itemslot",
      "position": [ 2, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox15": {
      "type": "itemslot",
      "position": [ 21, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox16": {
      "type": "itemslot",
      "position": [ 40, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox17": {
      "type": "itemslot",
      "position": [ 59, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox18": {
      "type": "itemslot",
      "position": [ 78, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox19": {
      "type": "itemslot",
      "position": [ 97, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox20": {
      "type": "itemslot",
      "position": [ 116, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox21": {
      "type": "itemslot",
      "position": [ 135, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox22": {
      "type": "itemslot",
      "position": [ 154, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox23": {
      "type": "itemslot",
      "position": [ 173, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox24": {
      "type": "itemslot",
      "position": [ 192, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox25": {
      "type": "itemslot",
      "position": [ 211, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox26": {
      "type": "itemslot",
      "position": [ 230, 59 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox27": {
      "type": "itemslot",
      "position": [ 2, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox28": {
      "type": "itemslot",
      "position": [ 21, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox29": {
      "type": "itemslot",
      "position": [ 40, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox30": {
      "type": "itemslot",
      "position": [ 59, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox31": {
      "type": "itemslot",
      "position": [ 78, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox32": {
      "type": "itemslot",
      "position": [ 97, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox33": {
      "type": "itemslot",
      "position": [ 116, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox34": {
      "type": "itemslot",
      "position": [ 135, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox35": {
      "type": "itemslot",
      "position": [ 154, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox36": {
      "type": "itemslot",
      "position": [ 173, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox37": {
      "type": "itemslot",
      "position": [ 192, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox38": {
      "type": "itemslot",
      "position": [ 211, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox39": {
      "type": "itemslot",
      "position": [ 230, 40 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox40": {
      "type": "itemslot",
      "position": [ 2, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox41": {
      "type": "itemslot",
      "position": [ 21, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox42": {
      "type": "itemslot",
      "position": [ 40, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox43": {
      "type": "itemslot",
      "position": [ 59, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox44": {
      "type": "itemslot",
      "position": [ 78, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox45": {
      "type": "itemslot",
      "position": [ 97, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox46": {
      "type": "itemslot",
      "position": [ 116, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox47": {
      "type": "itemslot",
      "position": [ 135, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox48": {
      "type": "itemslot",
      "position": [ 154, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox49": {
      "type": "itemslot",
      "position": [ 173, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox50": {
      "type": "itemslot",
      "position": [ 192, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox51": {
      "type": "itemslot",
      "position": [ 211, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox52": {
      "type": "itemslot",
      "position": [ 230, 21 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox53": {
      "type": "itemslot",
      "position": [ 2, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox54": {
      "type": "itemslot",
      "position": [ 21, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox55": {
      "type": "itemslot",
      "position": [ 40, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox56": {
      "type": "itemslot",
      "position": [ 59, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox57": {
      "type": "itemslot",
      "position": [ 78, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox58": {
      "type": "itemslot",
      "position": [ 97, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox59": {
      "type": "itemslot",
      "position": [ 116, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox60": {
      "type": "itemslot",
      "position": [ 135, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox61": {
      "type": "itemslot",
      "position": [ 154, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox62": {
      "type": "itemslot",
      "position": [ 173, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox63": {
      "type": "itemslot",
      "position": [ 192, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox64": {
      "type": "itemslot",
      "position": [ 211, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    },
    "itemBox65": {
      "type": "itemslot",
      "position": [ 230, 2 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "ContainerCore.SlotCallback",
      "rightClickCallback": "ContainerCore.SlotRightClickCallback"
    }
  },
  "canvasClickCallbacks": {
    "recipeCanvas": "RecipeCanvasClick",
    "addedRecipeCanvas": "AddedRecipeCanvasClick"
  },

  "scriptWidgetCallbacks": [
    "RecipeItemBox",
    "RecipeItemBoxRight",
    "RecipeItemBoxHelp",
    "AddRecipe",
    "RemoveRecipe",
    "orderUp",
    "orderDown",
    "SelectedItemChange",
    "SpeedAdd",
    "SpeedRemove",
    "StackAdd",
    "StackRemove",
    "SliderUpdate",
    "ContainerCore.SlotCallback",
    "ContainerCore.SlotRightClickCallback",
    "currencySpinner.up",
    "currencySpinner.down",
    "currencyNumberBox",
    "CurrencyLeft",
    "CurrencyRight",
    "CurrencyAddLeft",
    "CurrencyAddRight",
    "AddCurrency",
    "RemoveCurrency",
    "CraftCurrency",
    "CurrencyAreaHelp"
  ],
  "scripts": [ "/Core/ContainerCoreGUI.lua","/Blocks/Conduits/Crafting Conduit/UI/UI Script.lua" ],
  "scriptDelta": 2,
  "ItemSlots": [
    "itemBox1",
    "itemBox2",
    "itemBox3",
    "itemBox4",
    "itemBox5",
    "itemBox6",
    "itemBox7",
    "itemBox8",
    "itemBox9",
    "itemBox10",
    "itemBox11",
    "itemBox12",
    "itemBox13",
    "itemBox14",
    "itemBox15",
    "itemBox16",
    "itemBox17",
    "itemBox18",
    "itemBox19",
    "itemBox20",
    "itemBox21",
    "itemBox22",
    "itemBox23",
    "itemBox24",
    "itemBox25",
    "itemBox26",
    "itemBox27",
    "itemBox28",
    "itemBox29",
    "itemBox30",
    "itemBox31",
    "itemBox32",
    "itemBox33",
    "itemBox34",
    "itemBox35",
    "itemBox36",
    "itemBox37",
    "itemBox38",
    "itemBox39",
    "itemBox40",
    "itemBox41",
    "itemBox42",
    "itemBox43",
    "itemBox44",
    "itemBox45",
    "itemBox46",
    "itemBox47",
    "itemBox48",
    "itemBox49",
    "itemBox50",
    "itemBox51",
    "itemBox52",
    "itemBox53",
    "itemBox54",
    "itemBox55",
    "itemBox56",
    "itemBox57",
    "itemBox58",
    "itemBox59",
    "itemBox60",
    "itemBox61",
    "itemBox62",
    "itemBox63",
    "itemBox64",
    "itemBox65"
  ]
}
