{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Crafting Terminal/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Crafting Terminal/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Crafting Terminal",
      "subtitle": "Allows Control over a conduit system",
      "position": [ 100, 100 ],
      "zlevel": -10
    },
    "craftAreaStatic": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Crafting Terminal/UI/Window/Craft Area Static.png",
      "position": [ 258, 3 ],
      "scale": 1,
      "visible": false
    },
    "recipeAreaStatic": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Crafting Terminal/UI/Window/Recipe Area Static.png",
      "position": [ 280, 191 ],
      "scale": 1,
      "visible": false
    },
    "recipeCount": {
      "type": "label",
      "zlevel": 5,
      "position": [ 331, 226 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "visible": false,
      "value": "9"
    },
    "noRecipesLabel": {
      "type": "label",
      "zlevel": 5,
      "position": [ 261, 226 ],
      "hAnchor": "left",
      "vAnchor": "mid",
      "wrapWidth": 200,
      "fontSize": 7,
      "visible": false,
      "value": "No Recipes For Item"
    },
    "previousRecipeButton": {
      "type": "button",
      "base": "/Blocks/Crafting Terminal/UI/Window/Recipe Arrow Left.png",
      "hover": "/Blocks/Crafting Terminal/UI/Window/Recipe Arrow Left.png",
      "press": "/Blocks/Crafting Terminal/UI/Window/Recipe Arrow Left.png",
      "callback": "RecipePrevious",
      "zlevel": 90,
      "visible": false,
      "position": [ 280, 200 ]
    },
    "nextRecipeButton": {
      "type": "button",
      "base": "/Blocks/Crafting Terminal/UI/Window/Recipe Arrow Right.png",
      "hover": "/Blocks/Crafting Terminal/UI/Window/Recipe Arrow Right.png",
      "press": "/Blocks/Crafting Terminal/UI/Window/Recipe Arrow Right.png",
      "callback": "RecipeNext",
      "zlevel": 90,
      "visible": false,
      "position": [ 300, 200 ]
    },
    "recipeCurrentCount": {
      "type": "label",
      "zlevel": 5,
      "position": [ 298, 207 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "visible": false,
      "value": "9"
    },
    "craftAreaDisplaySlot": {
      "type": "itemslot",
      "position": [ 259, 194 ],
      "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "IconMode": true,
      "visible": false,
      "zlevel": 3,
      "callback": "null",
      "rightClickCallback": "null"
    },
    "outputSlot": {
      "type": "itemslot",
      "position": [ 268, 41 ],
      "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "IconMode": true,
      "visible": false,
      "zlevel": 10,
      "callback": "null",
      "rightClickCallback": "null"
    },
    "outputSlotCount": {
      "type": "label",
      "zlevel": 12,
      "position": [ 288, 42 ],
      "hAnchor": "right",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "visible": true,
      "color": [ 255, 165, 0 ],
      "value": "200"
    },
    "craftedAtSlot": {
      "type": "itemslot",
      "position": [ 260, 73 ],
      "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "IconMode": true,
      "visible": false,
      "zlevel": 100,
      "callback": "null",
      "rightClickCallback": "null"
    },
    "craftButton": {
      "type": "button",
      "base": "/Blocks/Crafting Terminal/UI/Window/Craft Button.png",
      "hover": "/Blocks/Crafting Terminal/UI/Window/Craft Button Highlighted.png",
      "press": "/Blocks/Crafting Terminal/UI/Window/Craft Button Highlighted.png",
      "caption": "",
      "callback": "CraftPress",
      "zlevel": 60,
      "visible": false,
      "position": [ 261, 6 ]
    },
    "amountBox": {
      "zlevel": 60,
      "type": "textbox",
      "position": [ 260, 18 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "AmountChange",
      "regex": "\\d*",
      "visible": false,
      "maxWidth": 45
    },
    "progressCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [ 337, 1, 457, 232 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    },
    "requirementsArea": {
      "type": "scrollArea",
      "rect": [ 259, 104, 332, 182 ],
      "visible": false,
      "zlevel": 3,
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
            "unselectedBG": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
            "disabledBG": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
            "spacing": [ 0, 0 ],
            "memberSize": [ 72, 20 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "slot": {
                "type": "itemslot",
                "position": [ 2, 1 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "callback": "null",
                "rightClickCallback": "null"
              },
              "slotcount": {
                "type": "label",
                "zlevel": 5,
                "position": [ 22, 2 ],
                "hAnchor": "right",
                "vAnchor": "mid",
                "wrapWidth": 50,
                "visible": true,
                "value": "200"
              }
            }
          }
        }
      }
    },
    "craftableItemsArea": {
      "type": "scrollArea",
      "rect": [ 1, 1, 254, 223 ],
      "visible": true,
      "zlevel": 21,
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
            "unselectedBG": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
            "disabledBG": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
            "spacing": [ 0, 0 ],
            "memberSize": [ 240, 20 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Crafting Terminal/UI/Window/TestArea.png",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "slot1": {
                "type": "itemslot",
                "position": [ 0, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "1",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot2": {
                "type": "itemslot",
                "position": [ 20, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "2",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot3": {
                "type": "itemslot",
                "position": [ 40, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "3",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot4": {
                "type": "itemslot",
                "position": [ 60, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "4",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot5": {
                "type": "itemslot",
                "position": [ 80, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "5",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot6": {
                "type": "itemslot",
                "position": [ 100, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "6",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot7": {
                "type": "itemslot",
                "position": [ 120, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "7",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot8": {
                "type": "itemslot",
                "position": [ 140, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "8",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot9": {
                "type": "itemslot",
                "position": [ 160, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "9",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot10": {
                "type": "itemslot",
                "position": [ 180, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "10",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot11": {
                "type": "itemslot",
                "position": [ 200, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "11",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              },
              "slot12": {
                "type": "itemslot",
                "position": [ 220, 0 ],
                "backingImage": "/Blocks/Crafting Terminal/UI/Window/Slot.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "visible": false,
                "data": "12",
                "callback": "__SlotClick__",
                "rightClickCallback": "__SlotRightClick__"
              }
            }
          }
        }
      }
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Crafting Terminal/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Crafting Terminal/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Crafting Terminal/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 400, 240 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "canvasClickCallbacks": {
    "progressCanvas": "__progressCanvasClick"
  },
  "scriptWidgetCallbacks": [
    "__SlotClick__",
    "__SlotRightClick__",
    "RecipeNext",
    "RecipePrevious",
    "AmountChange",
    "CraftPress"
  ],
  "scripts": [ "/Blocks/Crafting Terminal/UI/UI Script.lua" ],
  "scriptDelta": 1
}
