{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduits/Crafting Conduit/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Conduits/Crafting Conduit/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Crafting Conduit",
      "subtitle": "Extracts Items from an inventory",
      "position": [ 100, 100 ]
    },
    "helpText": {
      "type": "label",
      "zlevel": 3,
      "position": [ 52, 294 ],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 118,
      "value": "Use the Question Buttons to get help on what something does"
    },
    "recipeItemBox": {
      "type": "itemslot",
      "position": [ 190, 94 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "RecipeItemBox",
      "rightClickCallback": "RecipeItemBoxRight"
    },
    "recipeItemBoxHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "RecipeItemBoxHelp",
      "position": [ 170, 94 ],
      "pressedOffset": [ 0, 0 ]
    },
    "addRecipeButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Button Highlighted.png",
      "caption": "",
      "callback": "AddRecipe",
      "position": [ 274, 97 ]
    },
    "removeRecipeButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Button Highlighted.png",
      "position": [ 344, 95 ],
      "callback": "RemoveRecipe"
    },
    "orderUp": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Up.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Up Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Up Highlighted.png",
      "callback": "orderUp",
      "position": [ 324, 95 ]
    },
    "orderDown": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Down.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Down Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Down Highlighted.png",
      "callback": "orderDown",
      "position": [ 304, 95 ]
    },
    "searchIconAddedRecipes": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Crafting Conduit/UI/Window/Search.png",
      "position": [ 302, 286 ],
      "scale": 0.5
    },
    "searchBoxAddedRecipes": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 312, 286 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "SearchChangeAddedRecipes",
      "maxWidth": 113
    },
    "searchIconRecipes": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Crafting Conduit/UI/Window/Search.png",
      "position": [ 170, 286 ],
      "scale": 0.5
    },
    "searchBoxRecipes": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 180, 286 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "SearchChangeRecipes",
      "maxWidth": 113
    },
    "speedUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 280 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "stackUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 257 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "addSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "SpeedAdd",
      "position": [ 27, 274 ]
    },
    "removeSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "SpeedRemove",
      "position": [ 38, 274 ]
    },
    "addStackUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "StackAdd",
      "position": [ 27, 251 ]
    },
    "removeStackUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "StackRemove",
      "position": [ 38, 251 ]
    },
    "addedRecipeArea": {
      "type": "scrollArea",
      "rect": [ 303, 114, 431, 284 ],
      "children": {
        "itemList": {
          "type": "list",
          "callback": "AddedRecipeItemChange",
          "schema": {
            "selectedBG": "/Blocks/Conduits/Crafting Conduit/UI/Window/List Item.png:active",
            "unselectedBG": "/Blocks/Conduits/Crafting Conduit/UI/Window/List Item.png:inactive",
            "disabledBG": "/Blocks/Conduits/Crafting Conduit/UI/Window/List Item.png:disabled",
            "spacing": [ 0, 0 ],
            "memberSize": [ 119, 59 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Conduits/Crafting Conduit/UI/Window/List Item.png:inactive",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "outputItemImage": {
                "type": "itemslot",
                "position": [ 60, 40 ],
                "backingImage": "/interface/actionbar/actionbarcover.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": false,
                "IconMode": true,
                "zlevel": 1,
                "callback": "null",
                "rightClickCallback": "null"
              },
              "itemName": {
                "type": "label",
                "position": [ 2, 45 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 9,
                "value": "Output Item "
              },
              "order": {
                "type": "label",
                "position": [ 4, 1 ],
                "hAnchor": "left",
                "wrapWidth": 1191,
                "fontSize": 12,
                "value": "1"
              },
              "itemImage": {
                "type": "itemslot",
                "position": [ 98, 8 ],
                "backingImage": "/Blocks/Conduits/Crafting Conduit/UI/Window/Blank.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 1,
                "callback": "null",
                "rightClickCallback": "null"
              },
              "requiredItems": {
                "type": "scrollArea",
                "rect": [ 172, 114, 300, 284 ],
                "children": {
                  "itemList": {
                    "type": "list",
                    "callback": "RecipeItemChange",
                    "schema": {
                      "selectedBG": "/Blocks/Conduits/Crafting Conduit/UI/Window/List Item.png:active",
                      "unselectedBG": "/Blocks/Conduits/Crafting Conduit/UI/Window/List Item.png:inactive",
                      "disabledBG": "/Blocks/Conduits/Crafting Conduit/UI/Window/List Item.png:disabled",
                      "spacing": [ 0, 0 ],
                      "memberSize": [ 119, 59 ],
                      "listTemplate": {
                        "background": {
                          "type": "image",
                          "file": "/Blocks/Conduits/Crafting Conduit/UI/Window/List Item.png:inactive",
                          "position": [ 0, 0 ],
                          "zlevel": -1
                        },
                        "outputItemImage": {
                          "type": "itemslot",
                          "position": [ 60, 40 ],
                          "backingImage": "/interface/actionbar/actionbarcover.png",
                          "showBackingImageWhenEmpty": true,
                          "showBackingImageWhenFull": true,
                          "showDurability": false,
                          "IconMode": true,
                          "zlevel": 1,
                          "callback": "null",
                          "rightClickCallback": "null"
                        },
                        "itemName": {
                          "type": "label",
                          "position": [ 2, 45 ],
                          "hAnchor": "left",
                          "wrapWidth": 1191,
                          "fontSize": 9,
                          "value": "Output Item "
                        },
                        "itemImage": {
                          "type": "itemslot",
                          "position": [ 98, 8 ],
                          "backingImage": "/Blocks/Conduits/Crafting Conduit/UI/Window/Blank.png",
                          "showBackingImageWhenEmpty": true,
                          "showBackingImageWhenFull": true,
                          "showDurability": true,
                          "IconMode": true,
                          "zlevel": 1,
                          "callback": "null",
                          "rightClickCallback": "null"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "recipeArea": {
      "type": "scrollArea",
      "rect": [ 172, 114, 300, 284 ],
      "children": {
        "itemList": {
          "type": "list",
          "callback": "RecipeItemChange",
          "schema": {
            "selectedBG": "/Blocks/Conduits/Crafting Conduit/UI/Window/RecipesItemSelected.png",
            "unselectedBG": "/Blocks/Conduits/Crafting Conduit/UI/Window/RecipesItemSelected.png",
            "disabledBG": "/Blocks/Conduits/Crafting Conduit/UI/Window/RecipesItemSelected.png",
            "spacing": [ 0, 0 ],
            "memberSize": [ 119, 79 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Conduits/Crafting Conduit/UI/Window/RecipesItemSelected.png",
                "position": [ 0, 0 ],
                "zlevel": -1
              },
              "outputItemImage": {
                "type": "itemslot",
                "position": [ 70, 58 ],
                "backingImage": "/interface/actionbar/actionbarcover.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": false,
                "IconMode": true,
                "zlevel": 1,
                "callback": "null",
                "rightClickCallback": "null"
              },
              "itemScrollRight": {
                "type": "button",
                "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Arrow Button.png?flipx",
                "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Arrow Button Highlighted.png?flipx",
                "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Arrow Button Highlighted.png?flipx",
                "callback": "MoveRight",
                "position": [ 86, 33 ],
                "pressedOffset": [ 0, 0 ],
                "zlevel": 10
              },
              "itemScrollLeft": {
                "type": "button",
                "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Arrow Button.png",
                "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Arrow Button Highlighted.png",
                "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Arrow Button Highlighted.png",
                "callback": "MoveLeft",
                "position": [ 2, 33 ],
                "pressedOffset": [ 0, 0 ],
                "zlevel": 10
              }
            }
          }
        }
      }
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 375, 304 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "requiredItemsCanvas": {
    "zlevel": 1,
    "type": "canvas",
    "rect": [ 8, 27, 84, 45 ],
    "captureMouseEvents": true,
    "captureKeyboardEvents": true
  },
  "canvasClickCallbacks": {
    "scriptCanvas": "canvasClickEvent"
  },
  "canvasKeyCallbacks": {
    "scriptCanvas": "canvasKeyEvent"
  },
  "scriptWidgetCallbacks": [
    "RecipeItemBox",
    "RecipeItemBoxRight",
    "RecipeItemBoxHelp",
    "AddRecipe",
    "RemoveRecipe",
    "orderUp",
    "orderDown",
    "SelectedItemChange",
    "SearchChangeRecipes",
    "SearchChangeAddedRecipes",
    "SpeedAdd",
    "SpeedRemove",
    "StackAdd",
    "StackRemove",
    "SliderUpdate"
  ],
  "scripts": [ "/Core/CanvasCore.lua", "/Blocks/Conduits/Crafting Conduit/UI/UI Script.lua" ],
  "scriptDelta": 1
}
