{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduits/Crafting Conduit/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Conduits/Crafting Conduit/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Crafting Conduit",
      "subtitle": "Extracts Items from an inventory",
      "position": [ 100, 100 ]
    },
    "helpText": {
      "type": "label",
      "zlevel": 3,
      "position": [ 52, 294 ],
      "hAnchor": "left",
      "vAnchor": "top",
      "wrapWidth": 118,
      "value": "Use the Question Buttons to get help on what something does"
    },
    "recipeItemBox": {
      "type": "itemslot",
      "position": [ 190, 94 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "zlevel": 1,
      "callback": "RecipeItemBox",
      "rightClickCallback": "RecipeItemBoxRight"
    },
    "recipeItemBoxHelp": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Question Highlighted.png",
      "caption": "",
      "callback": "RecipeItemBoxHelp",
      "position": [ 170, 94 ],
      "pressedOffset": [ 0, 0 ]
    },
    "addRecipeButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Add Button Highlighted.png",
      "caption": "",
      "callback": "AddRecipe",
      "position": [ 274, 97 ]
    },
    "removeRecipeButton": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Remove Button Highlighted.png",
      "position": [ 344, 95 ],
      "callback": "RemoveRecipe"
    },
    "orderUp": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Up.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Up Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Up Highlighted.png",
      "callback": "orderUp",
      "position": [ 324, 95 ]
    },
    "orderDown": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Down.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Down Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Order Down Highlighted.png",
      "callback": "orderDown",
      "position": [ 304, 95 ]
    },
    "searchIconAddedRecipes": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Crafting Conduit/UI/Window/Search.png",
      "position": [ 302, 286 ],
      "scale": 0.5
    },
    "searchBoxAddedRecipes": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 312, 286 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "SearchChangeAddedRecipes",
      "maxWidth": 113
    },
    "searchIconRecipes": {
      "zlevel": 2,
      "type": "image",
      "file": "/Blocks/Conduits/Crafting Conduit/UI/Window/Search.png",
      "position": [ 170, 286 ],
      "scale": 0.5
    },
    "searchBoxRecipes": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 180, 286 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "SearchChangeRecipes",
      "maxWidth": 113
    },
    "speedUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 280 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "stackUpgrades": {
      "type": "label",
      "zlevel": 3,
      "position": [ 22, 257 ],
      "hAnchor": "mid",
      "vAnchor": "mid",
      "wrapWidth": 50,
      "value": "0"
    },
    "addSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "SpeedAdd",
      "position": [ 27, 274 ]
    },
    "removeSpeedUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "SpeedRemove",
      "position": [ 38, 274 ]
    },
    "addStackUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "+",
      "callback": "StackAdd",
      "position": [ 27, 251 ]
    },
    "removeStackUpgrade": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Button Highlighted.png",
      "caption": "-",
      "callback": "StackRemove",
      "position": [ 38, 251 ]
    },
    "recipeCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [ 170, 113, 301, 285 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    },
    "addedRecipeCanvas": {
      "zlevel": 1,
      "type": "canvas",
      "rect": [ 302, 114, 433, 285 ],
      "captureMouseEvents": true,
      "captureKeyboardEvents": false
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduits/Crafting Conduit/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduits/Crafting Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Conduits/Crafting Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 375, 304 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "canvasClickCallbacks": {
    "recipeCanvas": "RecipeCanvasClick",
    "addedRecipeCanvas": "AddedRecipeCanvasClick"
  },

  "scriptWidgetCallbacks": [
    "RecipeItemBox",
    "RecipeItemBoxRight",
    "RecipeItemBoxHelp",
    "AddRecipe",
    "RemoveRecipe",
    "orderUp",
    "orderDown",
    "SelectedItemChange",
    "SearchChangeRecipes",
    "SearchChangeAddedRecipes",
    "SpeedAdd",
    "SpeedRemove",
    "StackAdd",
    "StackRemove",
    "SliderUpdate"
  ],
  "scripts": [ "/Blocks/Conduits/Crafting Conduit/UI/UI Script.lua" ],
  "scriptDelta": 2
}
