{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Crafting Blueprint Builder/UI/Window/Heading.png",
      "fileBody": "/Blocks/Crafting Blueprint Builder/UI/Window/Backdrop.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "Crafting Blueprint Builder",
      "subtitle": "Used to Create Curved Conduits",
      "position": [ 100, 100 ]
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Crafting Blueprint Builder/UI/Window/Close Button.png",
      "hover": "/Blocks/Crafting Blueprint Builder/UI/Window/Close Button Highlighted.png",
      "press": "/Blocks/Crafting Blueprint Builder/UI/Window/Close Button Highlighted.png",
      "position": [ 95, 70 ],
      "pressedOffset": [ 0, 0 ]
    },
    "scanningSlot": {
      "type": "itemslot",
      "position": [ 133, 241 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "IconMode": true,
      "zlevel": 5,
      "callback": "scannerClick",
      "rightClickCallback": "scannerRClick"
    },
    "blankBlueprintSlot": {
      "type": "itemslot",
      "position": [ 233, 241 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "IconMode": true,
      "zlevel": 5,
      "callback": "blankClick",
      "rightClickCallback": "blankRClick"
    },
    "createButton": {
      "type": "button",
      "base": "/Blocks/Crafting Blueprint Builder/UI/Window/Create Button.png",
      "hover": "/Blocks/Crafting Blueprint Builder/UI/Window/Create Button.png",
      "press": "/Blocks/Crafting Blueprint Builder/UI/Window/Create Button.png",
      "position": [ 233, 180 ],
      "callback": "createBlueprint",
      "pressedOffset": [ 0, 0 ]
    },
    "blueprintSlot": {
      "type": "itemslot",
      "position": [ 233, 211 ],
      "backingImage": "/interface/actionbar/actionbarcover.png",
      "showBackingImageWhenEmpty": true,
      "showBackingImageWhenFull": true,
      "showDurability": true,
      "IconMode": true,
      "zlevel": 5,
      "callback": "finalClick",
      "rightClickCallback": "finalRClick"
    },
    "recipeArea": {
      "type": "scrollArea",
      "rect": [ 102, 6, 183, 237 ],
      "visible": true,
      "zlevel": 1,
      "children": {
        "itemList": {
          "type": "list",
          "schema": {
            "selectedBG": "/Blocks/Crafting Blueprint Builder/UI/Window/Recipe Item Selected.png",
            "unselectedBG": "/Blocks/Crafting Blueprint Builder/UI/Window/Recipe Item.png",
            "disabledBG": "/Blocks/Crafting Blueprint Builder/UI/Window/Recipe Item.png",
            "spacing": [ 0, 0 ],
            "memberSize": [ 71, 169 ],
            "listTemplate": {
              "background": {
                "type": "image",
                "file": "/Blocks/Crafting Blueprint Builder/UI/Window/Recipe Item.png",
                "position": [ 0, 0 ],
                "zlevel": 5
              },
              "outputSlot": {
                "type": "itemslot",
                "position": [ 40, 149 ],
                "backingImage": "/interface/actionbar/actionbarcover.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 5,
                "callback": "null",
                "rightClickCallback": "null"
              },
              "crafterSlot": {
                "type": "itemslot",
                "position": [ 46, 126 ],
                "backingImage": "/interface/actionbar/actionbarcover.png",
                "showBackingImageWhenEmpty": true,
                "showBackingImageWhenFull": true,
                "showDurability": true,
                "IconMode": true,
                "zlevel": 5,
                "callback": "null",
                "rightClickCallback": "null"
              },
              "inputArea": {
                "type": "image",
                "file": "/Blocks/Crafting Blueprint Builder/UI/Window/Input Area.png",
                "position": [ 4, 11 ],
                "zlevel": 3
              },
              "inputArrowUp": {
                "type": "button",
                "base": "/Blocks/Crafting Blueprint Builder/UI/Window/UpArrow.png",
                "hover": "/Blocks/Crafting Blueprint Builder/UI/Window/UpArrow.png",
                "press": "/Blocks/Crafting Blueprint Builder/UI/Window/UpArrow.png",
                "disabledImage": "/Blocks/Crafting Blueprint Builder/UI/Window/UpArrow.png",
                "caption": "",
                "callback": "UpArrowPress",
                "position": [ 24, 106 ],
                "zlevel": 5,
                "visible": false,
                "pressedOffset": [ 0, 0 ]
              },
              "inputArrowDown": {
                "type": "button",
                "base": "/Blocks/Crafting Blueprint Builder/UI/Window/DownArrow.png",
                "hover": "/Blocks/Crafting Blueprint Builder/UI/Window/DownArrow.png",
                "press": "/Blocks/Crafting Blueprint Builder/UI/Window/DownArrow.png",
                "disabledImage": "/Blocks/Crafting Blueprint Builder/UI/Window/DownArrow.png",
                "caption": "",
                "callback": "DownArrowPress",
                "position": [ 24, 3 ],
                "zlevel": 5,
                "visible": false,
                "pressedOffset": [ 0, 0 ]
              },
              "inputList" : {
                "type" : "list",
                "zlevel": 4,
                "schema" : {
                  "selectedBG" : "/Blocks/Crafting Blueprint Builder/UI/Window/Input Item.png",
                  "unselectedBG" : "/Blocks/Crafting Blueprint Builder/UI/Window/Input Item.png",
                  "fillDown": false,
                  "spacing" : [0, 0],
                  "memberSize" : [61, 21],
                  "listTemplate" : {
                    "background" : {
                      "type" : "image",
                      "file" : "/Blocks/Crafting Blueprint Builder/UI/Window/Input Item.png",
                      "position" : [2, 0],
                      "zlevel" : -1
                    },
                    "inputSlot": {
                      "type": "itemslot",
                      "position": [ 3, 2 ],
                      "backingImage": "/interface/actionbar/actionbarcover.png",
                      "showBackingImageWhenEmpty": true,
                      "showBackingImageWhenFull": true,
                      "showDurability": true,
                      "IconMode": true,
                      "zlevel": 5,
                      "callback": "null",
                      "rightClickCallback": "null"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "scriptWidgetCallbacks": [
    "scannerClick",
    "scannerRClick",
    "blankClick",
    "blankRClick",
    "finalClick",
    "finalRClick",
    "createBlueprint"
  ],
  "scripts" : ["/Blocks/Crafting Blueprint Builder/UI/UI Script.lua"],
  "scriptDelta" : 3
}
