{
  "gui": {
    "background": {
      "type": "background",
      "fileHeader": "/Blocks/Conduits/Insertion Conduit/UI/Window/Title Bar.png",
      "fileBody": "/Blocks/Conduits/Insertion Conduit/UI/Window/Main Window.png"
    },
    "windowtitle": {
      "type": "title",
      "title": "",
      "subtitle": "",
      "position": [ 100, 100 ]
    },
    "insertionIDBox": {
      "zlevel": 3,
      "type": "textbox",
      "position": [ 5, 19 ],
      "textAlign": "left",
      "fontSize": 8,
      "callback": "UpdateInsertID",
      "color": [ 255, 165, 0 ],
      "maxWidth": 103
    },
    "close": {
      "type": "button",
      "base": "/Blocks/Conduits/Insertion Conduit/UI/Window/Close Button/Close Button.png",
      "hover": "/Blocks/Conduits/Insertion Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "press": "/Blocks/Conduits/Insertion Conduit/UI/Window/Close Button/Close Button Highlighted.png",
      "position": [ 90, 40 ],
      "pressedOffset": [ 0, 0 ]
    }
  },
  "scriptWidgetCallbacks": [
    "UpdateInsertID"
  ],
  "scripts": [ "/Blocks/Conduits/Insertion Conduit/UI/UI Script.lua" ],
  "scriptDelta": 1
}
